<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITourenbuchService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://desktop-9fie55k/TourenbuchService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITourenbuchService"
                contract="ServiceReference1.ITourenbuchService" name="WSHttpBinding_ITourenbuchService" />
        </client>
    </system.serviceModel>
</configuration>